<ion-header>
  <ion-navbar color="primary" >
    <ion-title>Cart</ion-title>
  </ion-navbar>
</ion-header>


<ion-content >

  <!-- <ion-navbar *ngIf="packs.length" transparent  >
    <ion-title>Packages</ion-title>
  </ion-navbar>
  <ion-card *ngFor="let p of packs " (click)="packDetails(p)" >
    <ion-card-content>
      <ion-card-title>{{p.Name}} </ion-card-title>
      <p>{{p.Price}}</p>
    </ion-card-content>
  </ion-card> -->

  <ion-navbar *ngIf="packs.length" transparent  >
    <ion-title>Packages</ion-title>
    <ion-buttons end>
      <button ion-button clear>{{packValue}} </button>
    </ion-buttons>
  </ion-navbar>
  <ion-card *ngFor="let p of packs " >
      <ion-card-title (click)="packDetails(p)" >{{p.Name}} </ion-card-title>
      <p>{{p.Price}}</p>
      <button ion-button icon-only clear (click)="delConfirm(p)">
        <ion-icon name="md-trash"></ion-icon>
      </button>

  </ion-card>

</ion-content>
